.search-results-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 4rem;
    padding-top: 5px;
    background-color: #fff;
}

.single-search-result-outter-wrapper {
    width: 300px;
    height: 420px;
}