.navBar {
  background: black;
  padding: 1.5rem 2rem;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.logo img{
  height: 3.5rem;
}

.navBar-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.8);
  
}

.navBar-menu.active {
  right: 0;
  transition: 350ms;

}

li {
  font-size: 1.25rem;
  margin: 1rem 0;
}
.menu-item.active {
  left: 0;
  transition: 1s;
}
