.navBar-wrapper {
  background: black;
  padding: 0 2rem;
  height: 64px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.logo img{
  height: 4rem;
  cursor: pointer;
}
.search-set-navBarMenu-wrapper {
  grid-column: 3 / span 1;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  align-items: center;
}


.navBar-menu {
  width: 130px;
  height: 100vh;


  position: fixed;
  top: 0;
  right: -100%;
  transition: 1s;
  list-style: none;

  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 255, 255, 1);
  
  padding-bottom: 150px;
  align-items: center;


  

}

.navBar-menu.active {
  right: 0;
  transition: 450ms;
  
  flex-direction: column;
  justify-content: center;

  background-color: rgba(255, 255, 255, 1);
  
  padding-bottom: 370px;
  align-items: center;


}

li {
  font-size: 1.25rem;
  margin: 1rem 0;

}
a {
  text-decoration: none;
}


.navBar-close-icon-wrapper  {
  margin-left: 58px;
  margin-bottom: 50px;
}
.navBar-close-menu-text {
  display: none;
  color: black;
}



.fa{
  color:#0363BF;
}
.myCollection-icon {
  background: url("../../assests/MyCollectionIcon.svg");
}

.logoutButton {
  padding: 0.5rem 3.5rem;
  background-color: white;
  border-radius: 5px;
  border: solid 0.5px black;
}
.logoutButton:hover {
  padding: 0.5rem 3.5rem;
  background-color: #FFCF02;
  border-radius: 5px;
  border: solid 0.5px black;
  cursor: pointer;
}




/* @media screen and (max-width: 400px)  {
  .navBar-wrapper {
    grid-template-columns: repeat(1, 1fr);
}
  .search-set-navBarMenu-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
} */