*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 62.5%;
  background-color: black;
  color: white;
  background-image: url("./assests/whiteBrick.svg");
  line-height: 2rem;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
/* typography */
h2 {
  font-size:1.5rem;
  font-weight: 700;
}
p {
  font-size:1.5rem;
  font-weight: 400;
}

.primary-button{
  background-color: #fd8024;
  padding: 1rem 0rem;
  border-radius: 6px;
  border: solid #fff 2px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}
.primary-button:hover {
  background-color: #fff;
  padding: 1rem 0rem;
  border-radius: 6px;
  border: solid #fd8024 2px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;

}
.primary-button:focus {
  padding: 1rem 0rem;
  border-radius: 6px;
  border: solid #fd8024 2px;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

/* p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

img {
  width: 50%;
}
img:hover{
  width: 90%;
} */