.sets-in-collection-outter-container {
    padding: 2rem 1rem
}
.page-icon-and-name {
    padding-left: 2rem;
    margin-bottom: 2rem;
    align-items: center;   
}
.page-icon-and-name img {
    margin-right: 1.5rem;
}
.sets-in-collection-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-items: center;
    row-gap: 4rem;
    padding-top: 10px;
    background-color: #fff;
}
.set-info-outer-wrapper{
    width: 380px;
    height: 360px;
    border: #e2e2e2 solid 1px;
    overflow: hidden;
}
.set-info-outer-wrapper-wishlist {
    width: 380px;
    height: 420px;
    border: #e2e2e2 solid 1px;
    overflow: hidden; 
}

